.Subtitle .line {
  height: 2px;

  margin: 0;
  padding: 0;

  background: var(--fg-col1);

  z-index: -1;
}

.Subtitle .name {
  margin-bottom: 2ch;
  margin-left: 1rem;
}

.Subtitle .name h1 {
  display: inline-block;

  margin: 0;
  padding: 0 0.5rem 0.125rem 0.25rem;
  border: 2px solid var(--fg-col1);
  border-top: 3px solid var(--bg);
  border-bottom-right-radius: 1.5rem;

  background: var(--bg);
  color: var(--fg);
}

.Subtitle .name span {
  color: var(--fg-col2);
}