.this {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.this ul {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}
@media (min-width:768px) {
  .this ul {
    flex-direction: row;
    margin-bottom: 0;
  }
}
