.this {
  color: var(--mg-teal);
  z-index: -99;
  position: fixed;
  top: 0;
  user-select: none;
  text-align: justify;
}

.this > div {
  position: fixed;
}


.frame0 {
  opacity: 0%;
  animation-name: frame0;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes frame0 {
  0% {opacity: 100%;}
  39% {opacity: 100%;}
  40% {opacity: 0%;}
  100% {opacity: 0%;}
}

.frame1 {
  opacity: 0%;
  animation-name: frame1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes frame1 {
  0% {opacity: 0%;}
  39% {opacity: 0%;}
  40% {opacity: 100%;}
  44% {opacity: 100%;}
  45% {opacity: 0%;}
  89% {opacity: 0%;}
  90% {opacity: 100%;}
  100% {opacity: 100%;}
}

.frame2 {
  opacity: 0%;
  animation-name: frame2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes frame2 {
  0% {opacity: 0%;}
  44% {opacity: 0%;}
  45% {opacity: 100%;}
  89% {opacity: 100%;}
  90% {opacity: 0%;}
}