.this {
  display: flex;
  justify-content: flex-start;
}

.this.right {
  justify-content: flex-end;
}

/* CARD */
.this a {
  text-decoration: none;
  padding: 0.75rem;
  box-shadow: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  user-select: none;
  text-align: left;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  box-shadow: none;
}

@media (min-width: 768px) {
  .this a {
    flex-direction: row;
  }

  .this.right a {
    text-align: right;
    flex-direction: row-reverse;
  }

  .this a.linked:hover, .this a.linked:focus {
    border-top: 0.25rem solid var(--fg-col1);
    border-bottom: 0.25rem solid var(--fg-col1);
    box-shadow: 0 0 0.4rem var(--fg-col1) inset;
    margin: 0 2rem;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
  }
  
  .this a.linked:not(:hover):not(:focus) {
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    box-shadow: none;
    margin: 0 1rem;
    transition-duration: 50ms;
    transition-timing-function: linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.this.right .container {
  align-items: flex-end;
}

/* TITLE */
.name {
  margin-bottom: 1.5rem;
}

.name h2 {
  display: inline;
  background: var(--bg);
  color: var(--fg);
  text-decoration: underline double 1px;
}

.name,
.description {
  max-width: 70ch;
}

/* IMAGE */
.this img {
  width: 24rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  flex-grow: 1;
  align-items: flex-start;
}

.this.right .body {
  align-items: flex-end;
}

/* DESCRIPTION */
.description {
  display: inline-block;
}

.description span,
.foot span {
  background: var(--bg);
  color: var(--fg);
}

.foot span {
  font-style: italic;
}