.this {
  color: var(--fg);
  position: sticky;
  width: 100%;
  bottom: 0;
  background: var(--bg);
  z-index: 99;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 0 0.25rem;
}


.links:first-of-type {
  flex: 1;
}

.links:last-of-type {
  align-items: flex-end;
}

.links span {
  align-self: flex-start;
  line-height: 1.5rem;
}
@media (min-width:768px) {
  .links span {
    align-self: center;
  }
}

.links img {
  height: 1.5rem;
  user-select: none;
}

.links img, .links span {
  height: 1.5rem;
  padding: 0 0.5rem;
}