.this {
  color: var(--fg);
  position: sticky;
  width: 100%;
  bottom: 0;
  background: var(--bg);
  z-index: 99;
  align-items: center;
}

.lang {
  user-select: none;
  font-size: 1.1em;
}

.lang>span.selected {
  color: var(--fg-col2);
  cursor: default!important;
}

.lang>span:hover {
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.links img {
  height: 1.5rem;
  user-select: none;
}