/* CARD */
.this a {
  text-decoration: none;
  padding: 0.75rem;
  box-shadow: none;
  border-radius: 1rem;
  display: block;
  user-select: none;
  text-align: center;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  box-shadow: none;
  margin: 0 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .this a:hover, .this a:focus {
    border-top: 0.25rem solid var(--fg-col1);
    border-bottom: 0.25rem solid var(--fg-col1);
    box-shadow: 0 0 0.4rem var(--fg-col1) inset;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
  }
  
  .this a:not(:hover):not(:focus) {
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    box-shadow: none;
    transition-duration: 50ms;
    transition-timing-function: linear;
  }
}

/* TITLE */
.name {
  margin: 0 auto 0.5rem;
}

.name h2 {
  display: inline;
  background: var(--bg);
  color: var(--fg);
  text-decoration: underline double 1px;
  font-size: 1.1rem;
}

.name,
.description {
  max-width: 40ch;
}

/* DESCRIPTION */
.description {
  display: inline-block;
}

.description span {
  background: var(--bg);
  color: var(--fg);
}