.this a {
  text-decoration: none;
  padding: 0;
}

/* CARD */
.card {
  padding: 0.75rem;
  box-shadow: none;
  border-radius: 1rem;
  display: block;
  user-select: none;
  text-align: center;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  box-shadow: none;
}

.card:hover {
  border-top: 0.25rem solid var(--fg-col1);
  border-bottom: 0.25rem solid var(--fg-col1);
  box-shadow: 0 0 0.4rem var(--fg-col1) inset;
  transition: 75ms;
}

.card:not(:hover) {
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  box-shadow: none;
  transition: 150ms;
}

/* TITLE */
.name {
  margin: 0 auto 0.5rem;
}

.name h2 {
  display: inline;
  background: var(--bg);
  color: var(--fg);
  text-decoration: underline double 1px;
}

.name,
.description {
  max-width: 40ch;
}

/* IMAGE */
.this img {
  display: block;
  max-width: 100%;
  margin: 0 auto 0.5rem;
  /* padding: 0.5rem 0 1rem; */

  background: var(--fg);
}

/* DESCRIPTION */
.description {
  display: inline-block;
}

.description span {
  background: var(--bg);
  color: var(--fg);
}