.this {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--bg);
  color: var(--fg);
  z-index: 99;
}

.bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2ch;
}

.title {
  white-space: nowrap;
  flex: 1;
  user-select: none;
}

.title h2 {
  display: inline;

  margin: 0;
  padding: 0.3rem;

  color: var(--fg-col2);
}

.this hr {
  margin: 0;
  height: 2px;
  border: none;
  background: var(--mg);
}