.this {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  margin-bottom: 2rem;
  max-width: 45ch;
}

.line {
  margin: 0;
  display: block;
  text-align: center;
}

.line div {
  background: var(--bg);
}

.this ul {
  list-style-type: none;
  border-width: medium;
  border-color: var(--fg-col1);
  border-style: dotted;
  padding: 4px;
}

.this li {
  text-align-last: justify;
  word-spacing: -7px;
  background: var(--bg);
}