/* VARIABLES */
:root {
  --bg: #111;
  --mg-teal: #122;
  --mg: #555;
  --fg: #eee;
  --fg-col1: #ead;
  --fg-col2: #8ea;
}

/* GLOBAL STYLING */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App main {
  flex-direction: column;
  flex-grow: 1;
}

/* GLOBAL CLASSES */
.col1 {
  color: var(--fg-col1);
}
.col2 {
  color: var(--fg-col2);
}

.Card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.Card-container.top {
  align-items: flex-start;
}
.Card-container.left {
  justify-content: flex-start;
}

.CardLong-container {
  display: block;
  /* margin-bottom: 1.5rem; */
}

.link-regular {
  color: var(--fg);
}

/* RESPONSIVE CLASSES */
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
}

hr {
  border-color: var(--mg);
}

.smallButton {
  border-color: var(--fg);
  background: var(--fg-col2);
  border-radius: 4px;
  font-family: unset;
  margin: 6px;
  text-transform: uppercase;
}
.smallButton:hover {
  cursor: pointer;
}

main {
  display: flex;
  height: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.33) transparent;
}