/* VARIABLES */
:root {
  --bg: #111;
  --mg-teal: #122;
  --mg: #555;
  --fg: #eee;
  --fg-col1: #ead;
  --fg-col2: #8ea;
}

/* GLOBAL STYLING */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App main {
  flex-direction: column;
  flex-grow: 1;
}

/* GLOBAL CLASSES */
.col1 {
  color: var(--fg-col1);
}
.col2 {
  color: var(--fg-col2);
}

.Card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.link-regular {
  color: var(--fg);
}

/* RESPONSIVE CLASSES */
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
}